:root{
    --main-color:#FF0000;
    --secondary-color: #ffffff;
    --main-font-color: #6a6a6a;
    --secondary-font-color: #b2b2b2;
    --main-border-color: #ff00004d;
    --main-bg-color: #28272c;
    --secondary-bg-color: #fff;
}
*{
    box-sizing: border-box;
}
body{
    /*fonts*/
    font-family: Nunito Sans;
}
.container{
    margin: 0 auto;
    max-width: 1024px;
}

header{
    background: url("../images/Image.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: var(--secondary-color);
}
header:before {
    z-index: 0;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.3;
    background-color: black;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{

    background-color: var(--main-bg-color);
    max-height: 232px;
    padding-bottom: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------HEADER---------- */


/* NAVIGATION */

.nav{
    align-self: flex-start;
    background: #00000066 0% 0% no-repeat padding-box;
    border-bottom: 2px solid #FFFFFF33;
}
.nav .container{
    display: flex;
    justify-content: space-around;
}
.nav__menu{
    z-index: 2;
    display: flex;
    font-weight: bold;
    text-transform: uppercase;

}
.nav__menu__item{
    z-index: 2;
    padding: 2em;
}

.nav__menu__item:hover{
    /*background-color: #6a6a6a;*/
    background-color: rgba(106,106,106,0.3);
    color: white;
    cursor: pointer;
}

.nav__logo{
    z-index: 2;
    display: flex;
    align-items: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}
.nav__logo span{
    color: var(--main-color);
    margin-right: 5px;
}
.nav__logo:before{
    z-index: 2;
    content: url("../images/Icon.svg");
    width: 31px;
    height: 35px;
    position: absolute;
    left: -40px;
}

/* WELCOME-SCREEN */

.welcome-screen{
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcome-screen__title{
    z-index: 2;
    font-size: 90px;
    font-weight: 900;
    text-transform: uppercase;
}
.welcome-screen__intro{
    z-index: 2;
    margin-top: 30px;
    font: normal normal bold 16px/22px Nunito Sans;
    text-align: center;
}
.btn-container{
    display: flex;
    margin-bottom: 50px;
}
.welcome-screen__button{
    z-index: 2;
    width: 220px;
    height: 66px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 54px;
}
.welcome-screen__button-cta{
    background-color: var(--main-color);
    color: var(--secondary-color);
    margin-right: 12.5px;
}
.welcome-screen__button-features{
    background-color: var(--secondary-color);
    color: var(--main-color);
    margin-left: 12.5px;
}



/* ---------MAIN----------- */


/* BLOG */

.blog{
    display: flex;
    flex-direction: column;

}
.blog__title{
    margin-top: 90px;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
.blog__title:before{
    content: "";
    width: 50px;
    height: 3px;
    background-color: var(--main-color);
    margin-right: 7px;

}
.blog__title::after{
    content: "";
    width: 50px;
    height: 3px;
    background-color: var(--main-color);
    margin-left: 7px;
  
}
.blog__content{
    display: flex;
    justify-content: space-around;
}

.blog-content__row{
    max-width: 352px;
    margin: 16px
}
.blog-content__title{

    font-size: 19px;
    font: normal normal normal 19px/26px Nunito Sans;
    letter-spacing: 0px;
    color: var(--main-font-color);
    opacity: 1;
    margin-top: 25px;
    margin-bottom: 15px;

}
.blog__picture{
    width: 352px;
    height: 234px;
}

.left__row .blog__picture{
    background: url(../images/photo1.png);
}
.center__row .blog__picture{
    background: url(../images/photo2.png);
}
.right__row .blog__picture{
    background: url(../images/photo3.png);
}

.blog__text{

    font-size: 14px;
    text-align: left;
    font: normal normal 300 14px/19px Open Sans;
    letter-spacing: 0px;
    color: var(--main-font-color);
    opacity: 1;
    margin-bottom: 15px;
    
}
.read-more__btn{
    width: 142px;
    height: 40px;
    color: var(--secondary-color);
    background-color: var(--main-color);
    border-radius: 40px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-top: auto;
    margin-bottom: 100px;
    cursor: pointer;
}

/* SERVICE */

.service{
    background-color: var(--main-bg-color);
    width: 100%;
    
    
}
.service__picture{
    width: 170px;
    height: 170px;
    border-radius: 85px;
}

.service__content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.service__row{
    box-sizing: border-box;
    width: 232px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 100px 0;
}


.service__title{
    margin-top: 60px;
    font-size: 35px;
    font-weight: 700;
    color: var(--secondary-color);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 75px 0;
}
.service__title:before{
    content: "";
    width: 50px;
    height: 3px;
    background-color: var(--main-color);
    margin-right: 7px;

}
.service__title::after{
    content: "";
    width: 50px;
    height: 3px;
    background-color: var(--main-color);
    margin-left: 7px;
  
}

.first-service__row .service__picture {
    background-image: url(../images/mini1.png);
}
.second-service__row .service__picture {
    background-image: url(../images/mini2.png);
}
.third-service__row .service__picture {
    background-image: url(../images/mini3.png);
}
.fourth-service__row .service__picture {
    background-image: url(../images/mini4.png);
}

.service-content__title{
    font: normal normal normal 19px/26px Nunito Sans;
    letter-spacing: 0px;
    color: var(--secondary-color);
    margin: 15px 0 0 0;
    font-weight: 400;
    
}

.service__text{
    margin: 15px 0 15px 0;
    text-align: center;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0px;
    color: var(--secondary-font-color);
    opacity: 1;
}
 

/*FORM*/

.contact-form__container{
    max-width: 900px;

}
.contact-form__content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.contact-form__picture{
    background-image: url(../images/Form-Photo.png);
    width: 444px;
    height: 317px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 16px 0 0;
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-form__title{
    margin-top: 65px;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
.contact-form__title:before{
    content: "";
    width: 50px;
    height: 3px;
    background-color: var(--main-color);
    margin-right: 7px;

}
.contact-form__title::after{
    content: "";
    width: 50px;
    height: 3px;
    background-color: var(--main-color);
    margin-left: 7px;
  
}


#text{
    width: 444px;
    height: 38px;
    background: var(--secondary-color) 0% 0% no-repeat padding-box;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    opacity: 1;
    margin-bottom: 20px;
}
#email{
    width: 444px;
    height: 38px;
    background: var(--secondary-color) 0% 0% no-repeat padding-box;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    opacity: 1;
    margin-bottom: 20px;
}
#textarea{
    width: 444px;
    height: 140px;
    background: var(--secondary-color) 0% 0% no-repeat padding-box;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    opacity: 1;
    margin-bottom: 20px;
    resize: none;
}
#text:focus{
    border-color: var(--main-color);
}
#email:focus{
    border-color: var(--main-color);
}
#textarea:focus{
    border-color: var(--main-color);
}


input::placeholder {
    text-align: left;
    font: normal normal normal 16px/22px Nunito Sans;
    letter-spacing: 0px;
    color: var(--secondary-font-color);
    opacity: 1;
}
textarea::placeholder{
    text-align: left;
    font: normal normal normal 16px/22px Nunito Sans;
    letter-spacing: 0px;
    color: var(--secondary-font-color);
    opacity: 1;
}

.checkbox {
    cursor: pointer;
    display: flex;
  }
   
  .checkbox span {
   
  }
  .checkbox p{
    width: 412px;
    height: 71px;
    text-align: left;
    font: normal normal 300 10px/14px Open Sans;
    letter-spacing: 0px;
    color: #B2B2B2;
    opacity: 1;
    margin: 0 0 20px 10px;
  }
  
  .send-btn{
    border: 2px solid var(--main-color);
    align-self: flex-end;
    width: 142px;
    height: 40px;
    color: var(--main-color);
    background-color: var(--secondary-color);
    border-radius: 40px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: 75px;
    cursor: pointer;
  }

  /* --------FOOTER--------- */

.footer__logo{
    align-self: flex-start;
    padding-top: 40px;
    color:var(--secondary-color);
    z-index: 2;
    display: flex;
    align-items: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}
.footer__logo span{
    color: var(--main-color);
    margin-right: 5px;
}
.footer__logo:before{
    z-index: 2;
    content: url("../images/Icon.svg");
    width: 16px;
    height: 19px;
    position: absolute;
    left: -40px;
    top: 32px;
}
 .footer__container{
    display: flex;
    flex-direction: column;
}
.footer__content{
    display: flex;
    justify-content: flex-start;
}
.column{
    margin: 22px 200px 0 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: left;
    font: normal normal 14px/19px Nunito Sans;
    letter-spacing: 0px;
    color: var(--secondary-color);
    text-transform: uppercase;
    opacity: 1;
    font-weight: 700;
}
.column a:hover{
    color: var(--main-color);
}
.copyright{
    color: var(--secondary-color);
    align-self: flex-end;
    margin-left: 400px;
    font: normal normal 300 12px/16px Nunito Sans;
    letter-spacing: 0px;
    color: #D1D1D1;
    opacity: 1; 
}